{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false
}

//run npm i -D eslint eslint-config-prettier eslint-plugin-prettier prettier and install these vscode plugins
//ext install dbaeumer.vscode-eslint
//ext install esbenp.prettier-vscode